@using Microsoft.AspNetCore.Identity
@using Nevara.ApplicationCore.Models.Entities
@inject SignInManager<AppUser> SignInManager
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="#">home</a></li>
                            <li><a href="#">account</a></li>
                            <li><a href="#">log in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Page Breadcrumb End -->
    <!-- LogIn Page Start -->
    <div class="log-in pb-100">
        <div class="container">
            <div class="row">
                <!-- New Customer Start -->
                <div class="col-sm-6">
                    <div class="well">
                        <div class="new-customer">
                            <h3>NEW CUSTOMER</h3>
                            <p class="mtb-10"><strong>Register</strong></p>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made</p>
                            <a class="customer-btn" href="/Account/Register">continue</a>
                        </div>
                    </div>
                </div>
                <!-- New Customer End -->
                <!-- Returning Customer Start -->
                <div class="col-sm-6">
                    <div class="well">
                        <div class="return-customer">
                            <h3 class="mb-10">RETURNING CUSTOMER</h3>
                            <p class="mb-10"><strong>I am a returning customer</strong></p>
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Enter you email address here...</label>
                                    <input type="text" asp-for="UserName" name="UserName" placeholder="Enter you email address here..." id="input-email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" asp-for="Password" name="Password" placeholder="Password" id="input-password" class="form-control">
                                </div>
                                <p class="lost-password"><a href="forgot-password.html">Forgot password?</a></p>
                                <input type="submit" value="Login" class="return-customer-btn">
                            </form>
                            <br/>
                                <section>
                                    @{
                                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                        if (loginProviders.Count == 0)
                                        {
                                            <div>
                                                <p>
                                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                    for details on setting up this ASP.NET application to support logging in via external services.
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in loginProviders)
                                                        {

                                                            <button type="submit" class="btn btn-primary" name="provider"
                                                                    value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                                @provider.Name
                                                            </button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                                </section>
                          
                        </div>
                    </div>
                </div>
                <!-- Returning Customer End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
