@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<Nevara.ApplicationCore.ViewModel.ProductViewModel>
<!-- Slider Area Start -->
<div class="slider-area pb-100">
    <!-- Main Slider Area Start -->
    <div class="slider-wrapper theme-default">
        <!-- Slider Background  Image Start-->
        <div id="slider" class="nivoSlider">
            <img src="~/img/slider/5.jpg" data-thumb="~/img/slider/5.jpg" alt="" title="#htmlcaption" />
            <img src="~/img/slider/6.jpg" data-thumb="~/img/slider/6.jpg" alt="" title="#htmlcaption2" />
        </div>
        <!-- Slider Background  Image Start-->
        <!-- Slider htmlcaption Start-->
        <div id="htmlcaption" class="nivo-html-caption slider-caption">
            <!-- Slider Text Start -->
            <div class="slider-text">
                <h2 class="wow fadeInLeft" data-wow-delay="1s">Home Decor Shopping <br> Made Easy</h2>
                <p class="wow fadeInRight" data-wow-delay="1s">Register now and get 10% off</p>
                <a class="wow bounceInDown" data-wow-delay="0.8s" href="categorie-page.html">shop now</a>
            </div>
            <!-- Slider Text End -->
        </div>
        <!-- Slider htmlcaption End -->
        <!-- Slider htmlcaption Start -->
        <div id="htmlcaption2" class="nivo-html-caption slider-caption">
            <!-- Slider Text Start -->
            <div class="slider-text">
                <h2 class="wow zoomInUp" data-wow-delay="0.5s">Shelves With Home Decor <br> In Modern Room</h2>
                <p class="wow zoomInUp" data-wow-delay="0.6s">We’ll give you a FREE delivery!</p>
                <a class="wow zoomInUp" data-wow-delay="1s" href="categorie-page.html">shop now</a>
            </div>
            <!-- Slider Text End -->
        </div>
        <!-- Slider htmlcaption End -->
    </div>
    <!-- Main Slider Area End -->
</div>
<!-- Slider Area End -->
<!-- New Products Selection Start -->
<div class="new-products-selection pb-80">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-xs-12">
                <div class="section-title text-center mb-40">
                    <span class="section-desc mb-15">What's hot?</span>
                    <h3 class="section-info">feature products</h3>
                </div>
            </div>
            <!-- Section Title End -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- New Products Activation Start -->
                <div class="new-products owl-carousel">
                    @foreach (var product in Model)
                    {
                        <!-- Double Product Start -->
                        <div class="double-products">
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id">
                                        <img class="primary-img" src="@product.Thumbnail" alt="single-product">
                                    </a>
                                    @if (product.HotFlag == true)
                                    {
                                        <span class="sticker-sale">hot</span>
                                    }
                                    @if (product.NewFlag == true)
                                    {
                                        <span class="sticker-new">new</span>
                                    }
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content text-center">
                                    <h4><a href="product-page.html">@product.Name</a></h4>
                                    @if (product.PromotionPrice == null)
                                    {
                                        <p class="price"><span>@product.Price.ToString("N0") VND</span></p>

                                    }
                                    else
                                    {
                                        <p class="tax">Old Price: <span style="text-decoration: line-through;">@product.Price.ToString("N0") VND</span></p>
                                        <p class="price"><span>@product.PromotionPrice.Value.ToString("N0") VND</span></p>
                                    }
                                    <div class="action-links2">
                                        <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- Double Product End -->
                    }
                </div>
                <!-- New Products Activation End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- New Products Selection End -->
<!-- New Products Banner Start -->
<div class="new-products-banner pb-100">
    <div class="container">
        <div class="row mb-100">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner">
                    <a href="#"><img src="~/img/products-banner/10.jpg" alt="product-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner">
                    <div class="banner-description">
                        <h3>Chandeliers & Pendants</h3>
                        <h5>Extra 10% off Select Lingting</h5>
                        <a href="categorie-page.html">shop now</a>
                    </div>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner">
                    <div class="banner-description">
                        <h3>Home Decor</h3>
                        <h5>Sale 30% Off</h5>
                        <a href="categorie-page.html">shop now</a>
                    </div>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner">
                    <a href="#"><img src="~/img/products-banner/11.jpg" alt="product-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- New Products Banner End -->
<!-- home-2 Big Banner Start -->
<div class="h2-big-banner pb-100">
    <div class="container">
        <div class="row">
            <!-- Big Banner Start -->
            <div class="col-sm-12">
                <div class="big-banner text-center">
                    <div class="big-banner-desc">
                        <h2>Interior Creativity with Nevara</h2>
                        <a href="categorie-page.html">view more</a>
                    </div>
                </div>
            </div>
            <!-- Big Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- home-2 Big Banner End -->
