@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging
@using Nevara.ApplicationCore.Extensions
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}
@section Scripts {
    <script src="~/npm/parsley.min.js"></script>
    <script>
        $(function () {
            $('body').on('change', '.form-check-input', function () {
                $('.order-button-payment').css('display', 'block');
            });
            $('#formCheckout').parsley();
        });
    </script>
}
@if (ViewData["Success"] == null)
{
    <div class="coupon-area">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title mb-50">
                <h2>checkout</h2>
            </div>           
            <!-- Section Title Start End -->
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->

                            <h3>Returning customer?<a href="/account/login"> <span id="showlogin">Click here to login</span></a></h3>

                            <!-- ACCORDION END -->
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <div class="checkout-area pt-30">
        <div class="container">
            <div class="row">
                <form id="formCheckout" asp-controller="Cart" asp-action="Checkout">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form pb-50">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Full Name</label>
                                        @if(User.Identity.IsAuthenticated){
                                        <input asp-for="CustomerName" type="text" readonly value="@User.GetClaim("FullName")">
                                        }
                                        else
                                        {
                                            <input asp-for="CustomerName" type="text" required data-parsley-error-message="Please input name">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Address <span class="required">*</span></label>                                        
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        <input asp-for="CustomerAddress" value="@User.GetClaim("Address")" type="text" readonly>
                                        }
                                        else
                                        {
                                        <input asp-for="CustomerAddress" type="text" required data-parsley-error-message="Please input address">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Email <span class="required">*</span></label>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <input asp-for="CustomerEmail" type="text" value="@User.GetClaim("Email")" readonly>
                                        }
                                        else
                                        {
                                            <input asp-for="CustomerEmail" type="text" data-parsley-type="email" required data-parsley-error-message="Please input valid email">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Phone <span class="required">*</span></label>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        <input asp-for="CustomerMobile" type="text" data-parsley-minlength="6" value="@User.GetClaim("Phone")" data-parsley-maxlength="12" data-parsley-type="digits" readonly>
                                        }
                                        else
                                        {
                                            <input asp-for="CustomerMobile" type="text" data-parsley-minlength="6" data-parsley-maxlength="12" data-parsley-type="digits" required data-parsley-error-message="Please input valid phone">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Message</label>
                                        <textarea asp-for="CustomerMessage" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Carts)
                                        {
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    @item.Product.Name<strong class="product-quantity"> × @item.Quantity</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">@item.GetTotal.ToString("N0") VND</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td>
                                                <strong><span class="amount">@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0")VND</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <h3>Payment methods</h3>
                                        @foreach (var item in Model.PaymentMethods)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" asp-for="PaymentMethods" type="radio" name="paymentMethod" value="@item.Value">
                                                <label class="form-check-label" asp-for="PaymentMethods">
                                                    @item.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                    <div style="display: none" class="order-button-payment">
                                        <input type="submit" value="Place order">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="coupon-area">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title mb-50">
                <h2>checkout</h2>
            </div>
            @if ((bool)ViewData["Success"])
            {
            <div class="alert alert-success">
                Thank you for your order. We are going to confirm your order soon.
            </div>

            }
            else
            {
            <div class="alert alert-danger">
                Have an error in order progress. Please contact to administrator.
            </div>

            }
        </div>
    </div>
}